.category-list {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.category-item {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.category-list .input {
    margin-top: 20px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.category-list .input input {
    width: 100%;
    text-align: center;
}

.category-list .button {
    margin-top: 20px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.category-list button {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;

}
.category-list table{
    border: solid 1px;
    width: 500px;
    background-color:rgb(250, 226, 195);
}
.category-list th{
    border: solid 1px;
    text-align: center;
    background-color: rgb(238, 185, 121);
}
.category-list td{ 
    border: solid 1px;
    text-align: center;
    width: 250px;
}

.category-list button:hover {
    background-color: aqua !important;
}

.category-list button:active {
    background-color: rgb(255, 182, 193) !important;
}

.category-list .a {
    text-align: center;

}

.category-list .a a {
    text-decoration: none;
    border: solid 1px black;
}

.category-detail {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.category-detail p {
    margin-left: 10px;
    font-size: 22px;
}

.button-category {
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-category button {
    width: 80px;
    height: 30px;
    border-radius: 7px;
    margin-left: 10px;
}

.button-category button:hover {
    background-color: aqua !important;
}

.button-category button:active {
    background-color: rgb(255, 182, 193) !important;
}

.create-update-category {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.create-update-category td {
    width: 150px;
    height: 45px;
}

.create-update-category tr {
    height: 30px;
}

.create-update-category p{
    color: red;
    font-size: 14.5px;
    margin-top: 5px;
}