.pagination {
    width: 260px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex
}

.pagination .button {

    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.pagination button {
    width: 100%;
    height: 30px;
    border-radius: 7px;
}

.pagination button:hover {
    background-color: aqua !important;
}

.pagination button:active {
    background-color: rgb(255, 182, 193) !important;
}

.pagination p {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 1px;
    border-radius: 20px;
}